<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form
      action=""
        method="POST"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        

        <div class="mb-3">
          <label for="post" class="form-label"
            ></label>
          
          <textarea
            class="form-control"
            id="post"
            rows="3"
            name="desc"
            placeholder="whats in your mind"
          ></textarea>
        </div>
        
        <div>
          <label for="formFileLg" class="form-label"><b>Choose a file</b></label>
          <input
            class="form-control form-control-lg"
            id="formFileLg"
            type="file"
            name="image"
          />
        </div>
        <button type="submit" class="my-2 btn btn-primary">Post</button>
      </form>
</body>
</html>