{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for tweet in tweets %}

    <form action="user/{{tweet.user.id}}" method="POST">
        {% csrf_token %}
    <a><p>{{tweet.user.username}}</p></a>
    <button class="comment_button" type="submit"><span class="material-icons">{{tweet.user.username}} </span></button>
    </form>
    <form action="tweet/{{tweet.id}}" method="POST">
        {% csrf_token %}


            <button class="comment_button" type="submit"><span class="material-icons"> {{tweet.text}} </span></button>
          </form>
   <img src="{{tweet.postImg.url}}" alt="" /> 
    </form>
    
    {% endfor %}

</body>
</html>