<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login-container">
        <form action="login" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="enter your email"><br>
            <input type="password" name="password" placeholder="password"><br>
            <button type="submit"><b>Login</b></button>
        </form>
        <hr>
        <a href="register"> <button class="create"><b>Create new account</b></button></a>
    </div>

    <div class="message">
        {% for message in messages %}
        <h1 class="error-message">{{message}}</h1>
        {% endfor %}
    </div>
</body>
</html>