<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div class="messageSender__option">
            <a href="updatePost"> <span style="color: green" class="material-icons"> photo </span></a>

          </div>
          <h1>user.username</h1>
          {% for post in posts %}
          <h1>hello world</h1>
          <h1>{{post.text}}</h1>
          {% endfor %}
</body>
</html>