
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>twitter | register</title>
  <link rel='stylesheet' type='text/css' media='screen' href='../static/styles/register.css'>

</head>

<body>
  <h1 class="main-heading">twitter</h1>
  <div class="rightbod">
    <h1 class="heading">Create new account</h1>
    <hr>
    <form action="register" method="post" class="bottom-container">
      {% csrf_token %}
      <div class="formbox input">
        <input type="text" class="inputbody1" name="firstname" placeholder="First name">
        <input type="text" class="inputbody1 fr" name="lastname" placeholder="Last name">
      </div>
      <div class="formbox input">
        <input type="text" class="inputbody2" name="email" placeholder="Email or mobile number">
      </div>
      <div class="formbox input">
        <input type="text" class="inputbody2" name="username" placeholder="enter username">
      </div>
      <div class="formbox input">
        <input type="text" class="inputbody2" name="password" placeholder="New password">
      </div>
      <button type="submit" class="signbut">Sign Up</button>

        
      <a class="bottom-ele" href='login'><u>Alraedy have an account</u></a>
    </div>
  </div>
</form>
<div class="message">
  {% for message in messages %}
  <h1 class="error-message">{{message}}</h1>
  {% endfor %}
</div>
  </div>
 
</body>
</html>