<form
action=""
  method="POST"
  enctype="multipart/form-data"
  
>
  {% csrf_token %}
  
  <div class="mb-3">
    <label for="nickname" class="form-label"
      ><b>Nickname</b></label
    >
    
    <input
      class="form-control"
      id="nicname"
     
      name="nickname"
    />

  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"
      ><b>Bio</b></label
    >
    
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
      name="bio"
    ></textarea>
  </div>
  
  <div>
    <label for="formFileLg" class="form-label"><b>Profile Pic</b></label>
    <input
      class="form-control form-control-lg"
      id="formFileLg"
      type="file"
      name="profilepic"
    />
  </div>
  <button type="submit" class="my-2 btn btn-primary">update</button>
</form>
</div>